:root {
  /* CSS HEX */
  --delft-blue: #3a405aff;
  --red-pantone: #e63946ff;
  --platinum: #d8e2dcff;
  --dodger-blue: #1e96fcff;
  --dark-cyan: #3e8989ff;

  /* CSS HSL */
  --delft-blue-hsl: hsla(229, 22%, 29%, 1);
  --red-pantone-hsl: hsla(355, 78%, 56%, 1);
  --platinum-hsl: hsla(144, 15%, 87%, 1);
  --dodger-blue-hsl: hsla(208, 97%, 55%, 1);
  --dark-cyan-hsl: hsla(180, 38%, 39%, 1);
  --body-background-color: hsla(231, 21%, 12%, 0.8);
}

body {
  border: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-background-color);
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#main_container {
  display: flex;

  gap: 10px;
  width: 100vw;
  height: 100vh;
}

#input_container {
  padding: 15px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  height: fit-content;
}

#input_box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#input_box label {
  width: 100px;
  min-width: 100px;
  margin-right: 10px;
  font-weight: bold;
}

#input_box input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

.half-screen-div {
  flex: 1;
  color: rgb(230, 230, 230);
}

#information_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  min-height: 100vh;
  overflow-y: scroll;
  height: fit-content;
}

#test {
  display: block;
}

#field_div {
  display: flex;
  gap: 1rem;
  margin-block: -8px;
}

#account_div {
  color: rgb(230, 230, 230);
  border: 1px solid var(--red-pantone);
  padding-inline-start: 15px;
  display: flex;
  flex-direction: column;
  height: 30px;
  transition: border-color 0.1s ease-in-out;
  position: relative;

  overflow-y: hidden;
}

#account_div:hover {
  border-color: var(--platinum);

  .company-name {
    color: var(--red-pantone);
  }

  #open-close {
    color: var(--red-pantone);
  }
}

#account_div.open {
  height: auto;
}

.company-name {
  display: flex;
  align-self: center;
  transition: color 0.1s ease-in-out;
}

#open-close {
  position: absolute;
  left: 0%;
  width: 100%;
  transform: translate(0, -50%);
  cursor: pointer;
  padding-block: 6px;
}

#open-close::before {
  content: "+";
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
  transition: color 0.1s ease-in-out;
}

#open-close.open::before {
  content: "-";
}

#inputs_label {
  color: rgb(230, 230, 230);
}

#button_save {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--delft-blue);
  color: white;
  border: 1px solid rgb(81, 89, 126);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s;
}

#button_save:hover {
  background-color: rgb(81, 89, 126);
}

input:focus {
  outline-color: var(--red-pantone);
}
